params {
        kFold = 1
        label = "PH_EOSI_B_300"
        clinical = "$baseDir/data/Merged_clinical_subgroups_concat.tsv"
        proteome = "$baseDir/data/proteome"
        metabolome = "$baseDir/data/metabolome"
        metabolome_identifier = "$baseDir/data/metabolome_identifier"
        transcriptome = "$baseDir/data/transcriptome"
        methylome = "$baseDir/data/methylome"

        publish_dir = "comparison"

        k_DAM = 100
        pval = 0.05
        corrCut = 0.3
        K = 150
}
